*{
    margin: 0;
    border: 0;


    color: white;
    font-family: sans-serif;
}
.title-text{
    font-size: 3em;
    margin-bottom: 3vh;
}
label, input{
    margin-bottom: 4vh;
}
.buy{
    margin-left: 4vw;
}
.chart-ops{
    margin-top: -6vh;
}
.confirm-button{
    height: 5vh;
    width: 10vh;
    margin-left: 1vw;
    background-color: rgb(50, 50, 50);
    margin-top: 1vh;
    border-radius: 10px;
}
.App{
    margin-top: 3vh;
}
input{
    height: 3vh;
    border-radius: 4px;
    text-indent: 6px;
    margin-left: 1vw;
    color: white;
    background-color: rgb(50, 50, 50);
}
#testGraph{
    margin-top : 3vh;
    width : 70vw;
    height : 55vh;
}
.buttons{
    margin-left: 52vw;
    transform: translateY(-20vh);
    z-index: -1;
}
.buttons button{
    font-size: 1.2em;
    height: 5vh;
    width: 10vh;
    margin-left: 1vw;
    background-color: rgb(50, 50, 50);
    margin-top: 10vh;
    border-radius: 10px;
}
.chart-maker{
    margin-top: -20vh;
}
.curs{
    position: absolute;
    margin-left: 40vw;
    margin-top: -40vh;
    font-size: 8em;
    z-index: 1;
}