.total{
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
}

.title{
  font-size: 10vw;
  margin-top: 30vh;
  text-align: center;
}

.art-cont{
  margin-top: 45vh;
  margin-left: 5vw;
  width: 90vw;
}

.sub-title{
  font-size: 6vw;
  margin-top: 10vh;
}

.sub-text{
  margin-top: 3vh;
  margin-bottom: 30vh;
  max-width: 500px;
}

article:nth-of-type(even){
  text-align: right;
}
article:nth-of-type(even) > p{
  margin-left: auto;
}